In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('oscilator_df.csv')

In [3]:
df.head()

   # n       Basis  Teórico
0  1.0   25.003211     25.0
1  2.0   75.023610     75.0
2  3.0  125.176689    125.0
3  4.0  176.007818    175.0
4  5.0  228.998429    225.0

In [4]:
df[r'%$\epsilon$'] =  ((-df['Teórico'] + df['Basis'])/df['Teórico']) * 100

In [8]:
new_df = df.head(7)

In [9]:
new_df

   # n       Basis  Teórico  %$\epsilon$
0  1.0   25.003211     25.0     0.012844
1  2.0   75.023610     75.0     0.031479
2  3.0  125.176689    125.0     0.141351
3  4.0  176.007818    175.0     0.575896
4  5.0  228.998429    225.0     1.777080
5  6.0  286.593618    275.0     4.215861
6  7.0  351.324440    325.0     8.099828

In [10]:
new_df.to_csv("oscilador.csv")